<head>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>
		Title
	</h1>
	<p>
		Content replaced into {{content}}. Escaped with {{\content}}.
	</p>
	<p>I may edit glossary entries at any time, without indicating it.</p>
{% if pagination.has_posts %}
<section>
{% for post in glossary.posts|sort(attribute=“order”) %}
<div id="{{post.id}}">
<pre><code>    {{content}}lt;h2{{content}}gt;{{content}}lt;a href={{content}}quot;#{{post.id}}{{content}}quot;{{content}}gt;{{post.title}}{{content}}lt;/a{{content}}gt;{{content}}lt;/h2{{content}}gt;
    {{post.content}}
{{content}}lt;/div{{content}}gt;
{% endfor %}</code></pre>
</section>
<p>{% endif %}</p>
</body>
